<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        {% for post in posts %}
        <div>
        	<p> publicado: {{ post.published_date }}</p>
        	<h2><a href="">{{ post.title }}</a></h2>
        	<p>{{ post.text|linebreaksbr }}</p>
            
        </div>
        {% endfor %}

        <div>
            <p>published: 30.10.2019, 12:00 pm</p>
            <h2><a href="">My second post</a></h2>
            <p>El Poot se la come</p>
        </div>
    </body>
</html>