<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 30.10.2019, 12:00 pm</p>
            <h2><a href="">My first post</a></h2>
            <p>Y el misa? Chupala</p>
        </div>

        <div>
            <p>published: 30.10.2019, 12:00 pm</p>
            <h2><a href="">My second post</a></h2>
            <p>El Poot se la come</p>
        </div>
    </body>
</html>